<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppOptionsSegues</key>
	<array>
		<string>showScrollView</string>
		<string>showCollectionView</string>
		<string>showGetRandomMovie</string>
		<string>showRateApp</string>
	</array>
	<key>AppOptions2</key>
	<dict>
		<key>showScrollView</key>
		<string>See Top 100 Movies (Scroll)</string>
		<key>showCollectionView</key>
		<string>See Top 100 Movies (Summary)</string>
		<key>showGetRandomMovie</key>
		<string>Get a Random Movie</string>
		<key>showRateApp</key>
		<string>Rate The App</string>
	</dict>
	<key>AppOptionsLabels</key>
	<array>
		<string>See Top 100 Movies (Scroll)</string>
		<string>See Top 100 Movies (Summary)</string>
		<string>Get a Random Movie</string>
		<string>Rate the App</string>
	</array>
</dict>
</plist>
